<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <style>
      body {
        background-image: url({{"/assets/images/background.png" | relative_url }});
        background-repeat: no-repeat;
        background-position: 0px 80px;
        background-attachment: fixed;
      }
    </style>
  </head>
  <body>
    <header>
      <img class="header-logo" src="{{ "/assets/images/logo.png" | relative_url }}">
    </header>
