$backgroundColor: #eee;
$bodyColor: #000;
$bodyFont: 'Merriweather Sans', sans-serif;
$headerFont: 'Montserrat', sans-serif;
$fontDark: #009;
$fontLight: #002;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  background-image: url("/assets/images/background.png");
  background-repeat: no-repeat;
  background-position: 0px 60px;
  background-attachment: fixed;
}

h1, h2, h3, h4{
  font-family: $headerFont;
  color: $fontDark;
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}

.wrapper {
  padding-bottom: 30px;
  width: calc(100vw - 20px);
  min-height: calc(100vh - 30px);
  background-color: $backgroundColor;
  margin: 0 auto;
  box-shadow: -5px 0px 5px #222, 5px 0px 5px #222;
}

@media only screen and (min-width: 1000px) {

  .wrapper {
    width: 1000px;
  }

}
/* Header */

header {
  width: 100%;
  height: 60px;
  position: fixed;
}

header .header-logo {
  display: block;
  float: left;
  height: 40px;
  margin: 10px 10px;
}

nav {
  display: none;
}

.navigation {
  overflow: hidden;
  //font-family: 'Merriweather Sans', sans-serif;
}

.dropdown {
  float: right;
  min-width: 125px;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 0.8em;
  border: none;
  outline: none;
  color: white;
  padding: 8px 10px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  float: right;
  position: absolute;
  font-size: 0.8em;
  background-color: #f9f9f9;
  min-width: 125px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

nav li {
  display: block;
  float: left;
  color: #ccc;
}

@media only screen and (min-width: 750px) {

  header .header-logo {
    padding-right: 25px;
    border-right: 2px solid #ccc;
  }

  .dropdown {
    display: none;
  }

  header nav {
    display: block;
  }

  header nav ul {
  	display: block;
    float: left;
    height: 60px;
  }

  header nav ul li {
  	display: inline-block;
  	float: left;
  	list-style: none;
    height: 40px;
  	padding: 0 10px;
    margin: 10px auto;
  }

  header nav ul li a {
  	//font-family: 'Merriweather Sans', sans-serif;
  	font-size: 1em;
  	color: #ccc;
    line-height: 40px;
  }

}

@media only screen and (min-width: 1000px) {

  header {
    height: 100px;
  }

  header .header-logo {
    height: 80px;
    padding-right: 50px;
    border-right: 2px solid #ccc;
  }

  header nav ul {
    height: 100px;
  }

  header nav ul li {
    padding: 0 10px;
    margin: 30px auto;
  }

  header nav ul li a {
    font-size: 1.5em;
  }

}

/* Main */
main {
  padding-top: 60px;
}

main div {
  text-align: center;
}

main h1, h2 {
  padding: 10px 0;
  color: $fontDark;
  text-shadow: 1px 1px 2px #222;
}

main p {
  line-height: 20px;
  margin: 5px 25px 15px;
}

@media only screen and (min-width: 1000px) {

  main {
    padding-top: 100px;
  }

}

/* Category Navigation */

.category-tabs {
  overflow:hidden;
  background-color: #ccc;
}

.category-tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  min-width: 105px;
  padding: 5px 8px;
  transition: 0.3s;
}

.category-tabs button:hover {
  background-color: #fff;
}

.category-tabs button.active {
  background-color: #eee;
  background-image: url("/assets/images/main-bg.png");
  background-repeat: repeat;
}

.resources {
    display: none;
}

@media only screen and (min-width: 1000px) {

  .category-tabs {
    height: 33px;
  }

  .category-tabs button {
    font-size: 1.25em;
    width: 145px;
  }

}

/* Footer */

footer {
  width: 100%;
  height: 25px;
  padding-top: 5px;
  background-color: #ccc;
}

footer h4 {
  text-align: center;
  color: #00FF00;
}

/* Resources */

.resources div {
  margin: 5px;
  width: calc(100% - 10px);
  height: calc(30vw - 5px);
  background-color: #eee;
  overflow: hidden;
}

.resources div img {
  display: block;
  width: calc(30% - 10px);
  margin: 5px;
  float: left;
}

.resources div h3 {
  display: block;
  width: calc(70% - 10px);
  font-size: 1.25em;
  line-height: 24px;
  //font-weight: 300;
  text-align: center;
  //font-family: 'Merriweather Sans', sans-serif;
  margin: 5px;
  float: left;
}

.resources div p {
  display: block;
  font-size: 0.8em;
  width: calc(70% - 10px);
  text-align: center;
  float: right;
  margin: 5px auto;
}

@media only screen and (min-width: 500px) {

  .resources{
    overflow: hidden;
  }

  .resources div {
    height: calc(20vw - 4px);
    float: left;
  }

  .resources div img {
    width: calc(40% - 10px);
  }

  .resources div h3 {
    width: calc(60% - 10px);
  }

  .resources div p {
    width: calc(60% - 10px);
  }

  .resource {
    width: calc(50% - 10px) !important;
  }

}

@media only screen and (min-width: 750px) {

  .resources{
    overflow: hidden;
  }

  .resources div {
    height: calc(20vw - 10px);
    float: left;
  }

  .resource {
    width: calc(50% - 10px) !important;
  }

}

@media only screen and (min-width: 1000px) {

  .resources div h3 {
    width: 100%;
    margin: 5px 0;
    height: 30px;
    float: none;
  }

  .resources div p {
    width: 100%;
    margin: 5px auto;
    font-size: 1.2em;
  }

  .resources div img {
    width: calc(100% - 10px);
    float: none;
    margin: 5px auto;
  }

  .resource {
      width: calc(20% - 10px) !important;
      height: 350px !important;
  }
}

/* About */

.staff {
  overflow: hidden;
}

.staff div {
  height: 100px;
  margin: 10px auto;
  padding: 5px;
}

.staff div a img {
  width: calc(35% - 8px);
  height: auto;
  float: left;
  margin: 2px;
}

.staff div h4 {
  display: block;
  float: left;
  width: calc(70% - 10px);
  font-size: 1.2em;
  line-height: 25px;
  padding: 2px 5px;
}

.staff div img.avatar {
  width: calc(30% - 10px);
  height: auto;
  float: left;
}

@media only screen and (min-width: 1000px) {

  .staff div.member {
    width: calc(50% - 20px);
    height: 200px;
    margin: 5px auto;
  }

  .staff div a img {
    max-width: 120px;
    margin: 10px 5px;
    max-height: calc(25% - 10px);
  }

  .staff div img.avatar {
    width: calc(30% - 10px);
    height: auto;
  }
}
